﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"%>

<script runat="server">

    protected void Button1_Click(object sender, EventArgs e)
    {
        Response.Redirect("sitesPopular.aspx");
    }
</script>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
<form id="ff" runat="server"><div class="title"><a href="/"><img src="/images/home.gif" alt=""/> Home</a> <img src="/images/bluearrow.gif" alt="&gt;"/> Popular adult sites</div>
<% 
    int pageNumber = Functions.ReturnNumeric(Request["p"]);
    int pageSize = 10;
    
    Functions f = new Functions();

    f.listPopularSitesAdult(pageNumber, pageSize); 
   
    
    %>

<div class="center">
    <asp:Button ID="Button1" runat="server" Text="View normal sites" 
        onclick="Button1_Click" />
</div>
</form>

    </asp:Content>

