﻿<%@ Control Language="C#" ClassName="logonForm" %>
<script runat="server">

    protected void Page_Load(object sender, EventArgs e)
    {
        ;
    }
</script>


<%if (Request.QueryString["view"]!="reminder"){ %>

<div class="center">
Please enter your username and password to logon. Use Register link to register new user.
    <form method="post" action="login.aspx">
     <p> 
    Username:<br /><input name="un" type="text" />
    <br />
    Password:<br /><input name="pw" type="password" />

    <br />
    <input type="submit" value="Logon" />
     </p>
    </form>
    <a href="<%=System.IO.Path.GetFileName(System.Web.HttpContext.Current.Request.Url.AbsolutePath).ToLower()%>?view=reminder"><img src="/images/reminder.gif" alt=""/> Password reminder</a><br />
    <a href="register.aspx"><img src="/images/register.gif" alt=""/> Register</a><br/>
    <a href="/verify.aspx"><img src="/images/verify.gif" alt=""/> Verify account</a>
</div>

<%}else{ %>


       <div class="title">Password reminder</div>
        <div class="center">
            <form method="post" action="reminder.aspx">
             <p> 
             <input type="hidden" name="remind" value="remind" />
            Username:<br /><input name="un" type="text" />
            <br />
            E-mail:<br /><input name="email" type="text" />
            <br />
            Security image:<br />
            <a href="/captchaImage.aspx/dummy.jpg"><img alt="Security image" src="/captchaImage.aspx/dummy.jpg" /></a>
            <br />
            Type security image:<br />
            <input name="captcha" type="text" />
            <br />
            <input type="submit" value="Send reminder" /> <a href="<%=System.IO.Path.GetFileName(System.Web.HttpContext.Current.Request.Url.AbsolutePath).ToLower()%>">Cancel</a>
             </p>
        </form>
        </div>    
 <%} %>
      
 
