﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/addSite.aspx.cs" Inherits="manage_addSite" %>

<asp:Content ID="Content2" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="changeResult" runat="server" Text=""></asp:Label>
    </div>
</asp:Content>

