﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/changePassword.aspx.cs" Inherits="manage_changePassword" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="changeResult" runat="server" Text=""></asp:Label>
    </div>
</asp:Content>

