﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/manageSiteDeleteMessage.aspx.cs" Inherits="manage_manageSiteDeleteMessage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="deleteResult" runat="server" Text=""></asp:Label>
    <br/>
    <a href="default.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>">Ok</a>
    </div>
</asp:Content>
