﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="~/codeBehindFiles/manageSiteSetIndexPage.aspx.cs" Inherits="manage_manageSiteSetIndexPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="body" Runat="Server">
    <div class="center"><asp:Label ID="changeResult" runat="server" Text=""></asp:Label>
    <br/>
    <a href="managePages.aspx?un=<%=Functions.un %>&amp;pw=<%=Functions.pw %>&amp;subdomainid=<%=Request.QueryString["subdomainid"] %>">Ok</a>
    </div>
</asp:Content>

